/* CSS Styles */
form {
    max-width: 400px; /* Set maximum width */
    margin: 0 auto; /* Center form horizontally */
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input {
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    background-color: rgb(86, 93, 100);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 85%;
}
button:hover {
    background-color: rgb(208,77,97);
    margin-right: 85%;
}
h2, label {
    font-weight: bold;
    background: linear-gradient(to right, rgb(208,77,97), rgb(208,77,97));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

label {
    margin-right: 85%;
}

